#### This file is for product that product-name not write to oeminfo
#### factory mode
hw/default/GRACE_TUGL_V*:GRA-UL00
hw/default/GRACE_TUGL_V*:GRA-TL00
hw/default/GRACE_CLG_V*:GRA-CL00
#### not factory mode, but no vendor/country
hw/normal/GRACE_TUGL_V*:GRA-UL00
hw/eu/GRACE_TUGL_V*:GRA-UL00
hw/spcseas/GRACE_TUGL_V*:GRA-UL00
hw/meafnaf/GRACE_TUGL_V*:GRA-UL00
hw/ru/GRACE_TUGL_V*:GRA-UL00
hw/la/GRACE_TUGL_V*:GRA-UL00
hw/normal/GRACE_TUGL_V*:GRA-TL00
hw/normal/GRACE_CLG_V*:GRA-CL00
hw/normal/GRACE_UL_V*:GRA-L09
hw/eu/GRACE_UL_V*:GRA-L09
hw/spcseas/GRACE_UL_V*:GRA-L09
hw/meafnaf/GRACE_UL_V*:GRA-L09
hw/ru/GRACE_UL_V*:GRA-L09
hw/la/GRACE_UL_V*:GRA-L09
ice/cr/GRACE_UL_V*:GRA-L09
vodafone/es/GRACE_UL_V*:GRA-L09
vodafone/de/GRACE_UL_V*:GRA-L09
vodafone/nl/GRACE_UL_V*:GRA-L09
vodafone/pt/GRACE_UL_V*:GRA-L09
vodafone/ie/GRACE_UL_V*:GRA-L09
vodafone/it/GRACE_UL_V*:GRA-L09
vodafone/be/GRACE_UL_V*:GRA-L09
vodafone/ch/GRACE_UL_V*:GRA-L09
vodafone/gr/GRACE_UL_V*:GRA-L09
vodafone/hu/GRACE_UL_V*:GRA-L09
vodafone/cz/GRACE_UL_V*:GRA-L09
vodafone/ro/GRACE_UL_V*:GRA-L09
vodafone/al/GRACE_UL_V*:GRA-L09
vodafone/za/GRACE_UL_V*:GRA-L09
tef/normal/GRACE_UL_V*:GRA-L09
orange/es/GRACE_UL_V*:GRA-L09
orange/fr/GRACE_UL_V*:GRA-L09
dt/de/GRACE_UL_V*:GRA-L09
dt/at/GRACE_UL_V*:GRA-L09
dt/cz/GRACE_UL_V*:GRA-L09
dt/mk/GRACE_UL_V*:GRA-L09
dt/nl/GRACE_UL_V*:GRA-L09
dt/hr/GRACE_UL_V*:GRA-L09
dt/hu/GRACE_UL_V*:GRA-L09
dt/pl/GRACE_UL_V*:GRA-L09
dt/sk/GRACE_UL_V*:GRA-L09
sfr/fr/GRACE_UL_V*:GRA-L09
#### not factory mode, need map product-name
cmcc/cn/GRACE_TUGL_V*:GRA-TL00
dualcu/cn/GRACE_TUGL_V*:GRA-UL00
telecom/cn/GRACE_CLG_V*:GRA-CL00
tigo/co/GRACE_UL_V*:GRA-L09
tigo/bo/GRACE_UL_V*:GRA-L09
tigo/gt/GRACE_UL_V*:GRA-L09
tigo/py/GRACE_UL_V*:GRA-L09
claro/la/GRACE_UL_V*:GRA-L09
telefonica/la/GRACE_UL_V*:GRA-L09
movistar/co/GRACE_UL_V*:GRA-L09